.wavesurfer-region:before {
    content: attr(data-region-label);
}

.wavesurfer-region[data-region-highlight] {
    border: 1px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#drag-and-drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    height: 3em;
    cursor: pointer;
}

.active {
    background: repeating-linear-gradient(45deg,
            #fff,
            #fff 3px,
            #337ab7 3px,
            #337ab7 6px);
}

#file-select {
    display: none;
}
